<div class="col-md-8 col-md-offset-2">
  <div class="grid simple">
    <div class="grid-title no-border">
      <h4><%= t "models" %> <%= t("form.titles.details").html_safe %></h4>
      <div class="tools">
        <a href="javascript:;" class="collapse"></a>
        <a href="javascript:;" class="reload"></a>
      </div>
    </div>
    <div class="grid-body no-border">
      <br>

      <%= form_for @model, :html => {:role => "form", :novalidate =>"novalidate"}  do |f| %>
      <% if @model.errors.any? %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Nooo!</strong> <%= t("form.errors.found") %> <%= pluralize(@model.errors.count, "error") %>. <a href="#" class="alert-link"><%= t("form.errors.change") %></a> <%= t("form.errors.try") %>.
        <ul>
          <% @model.errors.full_messages.each do |msg| %>
          <li class="alert-link"><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :brand_id, :class => 'form-label' %>
        <div class="input-with-icon  right error-control">
          <i class="fa-exclamation fa"></i>
          <%= collection_select(
  :model,
  :brand_id,
  Brand.order("name"), 
  :id,
  :name,
  {:prompt => "Select the Brand"},
  {:class => "form-control",:required => true}
  ) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, :class => 'form-label' %>
        <div class="input-with-icon  right error-control">
          <i class="fa-exclamation fa"></i>
          <%= f.text_field :name, :class => 'form-control',:required => true %>
        </div>
      </div>

      <div class="form-actions">
        <div class="pull-right">
          <%= f.submit t("form.buttons.save"), :class => 'btn btn-primary btn-cons' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>