<% title t "models" %>
<% icon_title "archive" %>
<% go_back_link root_path %>

<div class="row-fluid">
  <div class="span12">
    <div class="grid simple ">
      <div class="grid-title">
        <h4><%= t "listings" %> <span class="semi-bold"><%= t "models" %></span></h4>
        <div class="tools">
          <a href="javascript:;" class="collapse"></a>
          <a href="javascript:;" class="reload"></a>
        </div>
      </div>
      <div class="grid-body ">
        <table class="table table-hover table-condensed" id="example">
          <thead>
            <tr>
              <th style="width:20%">ID</th>
              <th style="width:30%"><%= t "properties.name" %></th>
              <th style="width:30%"><%= t "properties.brand" %></th>
              <th style="width:20%"><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>
          <% @models.each do |model| %>
            <tr>
              <td><%= link_to model.id, model %></td>
              <td><%= link_to model.name, model %></td>
              <td><%= link_to model.brand.name, model.brand %></td>
              <td>
                <%= link_to model, :class => 'btn btn-white btn-xs'  do %>
                  <%= glyph(:eye_open) %>
                <% end %>
                <%= link_to edit_model_path(model), :class => 'btn btn-warning btn-xs'  do %>
                  <%= glyph(:edit) %>
                <% end %>
                <%= link_to model_path(model),
                                :method => 'delete',
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger btn-xs' do %>
                  <%= glyph(:remove) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
        <%= link_to new_model_path, :class => 'btn btn-primary btn-cons' do%>
        <%= glyph(:plus) %> Create <%= t('.new', :default => t("helpers.links.new")) %> <%= yield(:title) %>
        <% end %>
      </div>
    </div>
  </div>
</div>