<% title t "roles" %>
<% icon_title "eye" %>
<% sub_title "# " + @role.id.to_s %>
<% go_back_link roles_path %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12 ">	
    <div class="grid simple ">
      <div class="grid-title">
        <%= link_to edit_role_path(@role), :class => 'btn btn-warning'  do %>
            <%= glyph(:edit) %> <%= t('.edit', :default => t("helpers.links.edit")) %>
            <% end %>
            <%= link_to role_path(@role),
:method => 'delete',
:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
:class => 'btn btn-danger' do %>
            <%= glyph(:remove) %> <%= t('.destroy', :default => t("helpers.links.destroy")) %>
            <% end %>
        <div class="tools">
          <a href="javascript:;" class="collapse"></a>
          <a href="javascript:;" class="reload"></a>
        </div>
      </div>
      <div class="grid-body ">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <img src="https://www.estudionetwork.net/s/i/login/icon-chair.png">
          </div>
          <div class="col-sm-6 col-md-6">
            <h3><%= link_to @role.name, @role, "data-toggle"=>"tooltip", "data-placement"=>"top", :title => t("properties.name") %> - <%= link_to @role.value, @role, "data-toggle"=>"tooltip", "data-placement"=>"top", :title => t("properties.value") %></h3>
            
          </div>
        </div>

      </div>
    </div>
  </div> 
</div> 